/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
}

.logo-header {
  margin: 60px;
}

.menu-header {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
}

.menu-item {
  margin: 12px;
  margin-left: 70px;
}

.btn-header {
  margin-top: 30px;
  margin-left: 80px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: -180px;
  padding-bottom: -180px;
  border-radius: 25px;
}

.title {
  font-family: "Be Vietnam", sans-serif;
  font-weight: 700;
}

/* Testimonials */
.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
    text-align: center;
  }

  .container img {
    margin: auto;
    float: none;
    display: block;
  }
}
